<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>
<div th:replace="fragments::top-search"></div>
<div th:replace="fragments::slider"></div>

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${check}" class="text-center alert-warning">
                    <p th:text="${check}"></p>
                </div>
                <div class="table-main table-responsive" th:if="${check == null}">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Xoá</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartItem : ${shoppingCart.cartItem}">
                            <td class="thumbnail-img">
                                <a th:href="@{/find-product/{id} (id=${cartItem.product.id})}">
                                    <img class="img-fluid"
                                         th:src="@{'data:image/jpeg;base64,' + ${cartItem.product.image}}" alt=""/>
                                </a>
                            </td>
                            <td class="name-pr">
                                <p th:text="${cartItem.product.name}"></p>
                            </td>
                            <td class="price-pr">
                                <p th:text="'$' + ${cartItem.product.costPrice}"></p>
                            </td>
                            <form th:action="@{/update-cart}" method="post">
                                <td class="quantity-box"><input type="number" th:value="${cartItem.quantity}"
                                                                name="quantity" size="4"
                                                                value="1" min="0" step="1"
                                                                class="c-input-text qty text"></td>
                                <td class="total-pr">
                                    <p th:text="'$' + ${cartItem.totalPrice}"></p>
                                </td>

                                <td class="remove-pr">
                                    <button type="submit" name="action" value="update" title="Cập nhật sản phẩm"
                                            class="btn btn-warning">
                                        Cập nhật
                                    </button>
                                    <button type="submit" name="action" value="delete" title="Xoá sản phẩm"
                                            class="btn btn-danger">
                                        Xoá
                                    </button>
                                    <input type="hidden" th:value="${cartItem.product.id}" name="id">
                                </td>
                            </form>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

            <div class="row my-5" th:if="${check == null}">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Đơn hàng</h3>
                        <div class="d-flex">
                            <h4>Tổng tiền sản phẩm</h4>
                            <div class="ml-auto font-weight-bold" th:text="${subTotal}"></div>
                        </div>
                        <div class="d-flex">
                            <h4>Giảm giá</h4>
                            <div class="ml-auto font-weight-bold"> $0</div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Thuế</h4>
                            <div class="ml-auto font-weight-bold"> $2</div>
                        </div>
                        <div class="d-flex">
                            <h4>Phí vận chuyển</h4>
                            <div class="ml-auto font-weight-bold"> Miễn phí </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Tổng tiền thanh toán</h5>
                            <div class="ml-auto h5" th:text="${subTotal + 2}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a th:href="@{/check-out}"
                                                           class="ml-auto btn hvr-hover">Checkout</a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <div th:replace="fragments::instagram-box"></div>
    <footer th:replace="fragments::footer"></footer>
    <div th:replace="fragments::script"></div>
</body>

</html>