<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>
<div th:replace="fragments::top-search"></div>
<div th:replace="fragments::slider"></div>

<!-- Begin Login Form -->
<section id="login-form">
    <div class="noi-dung">
        <div class="form">
            <br>
            <h2>ĐĂNG NHẬP</h2>
            <div th:if="${param.error}" class="text-center alert alert-danger">
                <p>Tên đăng nhập hoặc mật khẩu không chính xác!</p>
            </div>
            <div th:if="${param.logout}" class="text-center alert alert-success">
                <p>Bạn đã đăng xuất!</p>
            </div>
            <form th:action="@{/do-login}" method="post">
                <div class="input-form">
                    <!-- <span>User name</span> -->
                    <input type="text" placeholder="Tên" name="username">
                </div>
                <div class="input-form">
                    <!-- <span>Password</span> -->
                    <input type="password" placeholder="Mật khẩu" name="password">
                </div>
                <div class="Remember-me">
                    <label><input type="checkbox" name=""> Nhớ Tôi </label>
                </div>
                <div class="input-form">
                    <input type="submit" value="Đăng nhập">
                </div>
                <div class="input-form">
                    <p>Bạn có tài khoản chưa? <a th:href="@{/register}">Đăng ký </a></p>
                </div>
            </form>
            <h3>Đăng nhập với mạng xã hội</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-weibo"></i></li>
            </ul>
        </div>
    </div>

    <div>

    </div>

</section>

<!-- End Login Form -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
<footer th:replace="fragments::footer"></footer>
<div th:replace="fragments::script"></div>
</body>

</html>