<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<!-- Basic -->

<head th:replace="fragments::head">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>
<div th:replace="fragments::top-search"></div>
<div th:replace="fragments::slider"></div>

<!-- Update Personal Information -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${check}" class="text-center alert-warning">
                    <p th:text="${check}"></p>
                </div>
                <div class="table-main table-responsive" th:if="${check == null}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="order-date">Ngày đặt hàng</th>
                            <th>Ngày gửi hàng</th>
                            <th class="price-pr">Tình trạng đơn hàng</th>
                            <th class="quantity-box">Tổng tiền</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="order-date">
                                <span><b th:text="${order.orderDate}">27-1-2022</b></span>
                            </td>
                            <td class="name-pr" th:if="${order.deliveryDate != null}">
                                <p th:text="${order.deliveryDate}"></p>
                            </td>
                            <td class="name-pr" th:if="${order.deliveryDate == null}">
                                <p>Waiting</p>
                            </td>
                            <td class="price-pr">
                                <p th:text="${order.orderStatus}">Completed</p>
                            </td>
                            <td class="total-pr">
                                <p style="color: red" th:text="${'$ ' + order.totalPrice}">$ 80.0</p>
                            </td>
                            <form th:action="@{/update-order}" method="post">
                                <td>
                                    <button type="submit" name="action" value="accept" title="Chấp nhận đơn hàng"
                                            class="btn btn-warning">
                                        Chấp nhận
                                    </button>
                                    <button type="submit" name="action" value="cancel" title="Huỷ đơn hàng"
                                            class="btn btn-danger">
                                        Huỷ
                                    </button>
                                    <input type="hidden" th:value="${order.id}" name="id">
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

        <div th:replace="fragments::instagram-box"></div>
        <footer th:replace="fragments::footer"></footer>
        <div th:replace="fragments::script"></div>
</body>

</html>