<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>
<div th:replace="fragments::top-search"></div>
<div th:replace="fragments::slider"></div>

<!-- Register Form -->
<section id="register-form">
    <div class="noi-dung">
        <div class="form">
            <br>
            <h2>ĐĂNG KÝ</h2>
            <div th:if="${error}" class="text-center alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <div th:if="${username}" class="text-center alert alert-warning">
                <p th:text="${username}"></p>
            </div>
            <div th:if="${password}" class="text-center alert alert-warning">
                <p th:text="${password}"></p>
            </div>
            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}"></p>
            </div>

            <form  th:action="@{/do-register}" method="post" th:object="${customerDto}">
                <div class="input-form">
                    <input type="text" th:field="*{lastName}" placeholder="Họ Đệm" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                     th:errors = "*{lastName}">
                </div>

                <div class="input-form">
                    <input type="text" th:field="*{firstName}" placeholder="Tên" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                     th:errors = "*{firstName}">
                </div>

                <div class="input-form">
                    <input type="text" th:field="*{username}" placeholder="Tên đăng nhập" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
                     th:errors = "*{username}">
                </div>

                <div class="input-form">
                    <input type="password" th:field="*{password}" placeholder="Mật khẩu" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                     th:errors = "*{password}">
                </div>

                <div class="input-form">
                    <input type="password" th:field="*{repeatPassword}" placeholder="Xác nhận mật khẩu" name="">
                </div>

                <div class="input-form">
                    <p>Bạn có tài khoản chưa? <a th:href="@{/login}"> Đăng nhập </a></p>
                </div>
                <div class="input-form">
                    <input type="submit" value="Đăng ký">
                </div>
            </form>
            <h3>Đăng nhập với mạng xã hội</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-weibo"></i></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Register Form-->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
<footer th:replace="fragments::footer"></footer>
<div th:replace="fragments::script"></div>
</body>

</html>