<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>
<div th:replace="fragments::top-search"></div>
<div th:replace="fragments::slider"></div>

<!-- Register Form -->
<section id="register-form">
    <div class="noi-dung">
        <div class="form">
            <br>
            <h2>ĐĂNG KÝ</h2>
            <form action="">
                <div class="input-form">
                    <!-- <span>User name</span> -->
                    <input type="text" placeholder="Tên" name="">
                </div>
                <div class="input-form">
                    <!-- <span>Password</span> -->
                    <input type="password" placeholder="Mật khẩu" name="">
                </div>
                <div class="input-form">
                    <!-- <span>Password</span> -->
                    <input type="password" placeholder="Xác nhận mật khẩu" name="">
                </div>
                <div class="input-form">
                    <p>Bạn có tài khoản chưa? <a th:href="@{/login}"> Đăng nhập </a></p>
                </div>
                <div class="input-form">
                    <input type="submit" value="Đăng ký">
                </div>
            </form>
            <h3>Đăng nhập với mạng xã hội</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-weibo"></i></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Register Form-->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
<footer th:replace="fragments::footer"></footer>
<div th:replace="fragments::script"></div>
</body>

</html>